/*.inventory {

}*/
.cell {
padding: 0;
}
.cell-body {
    height: 60px;
    width: 60px;
    background-color: darkgray;
}
.obj {
    background-color: rgba(39, 39, 39, 0.658);
    touch-action: none;
  user-select: none;
  transform: translate(0px, 0px);
}

.equip-cell {
    height: 60px;
    width: 60px;
    background: grey;
}

.center {
    margin: auto;
}

#cell {
    max-height: 80vh;
    overflow-x: hidden;
    overflow-y: scroll;
}

#items {
    height: 0;
}

.cells {
    position: static;
}
